/* Серый фон для верхней панели */
.top-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5; /* Светло-серый цвет */
    color: black;
    z-index: 1001;
}

.burger-button {
    margin-left: auto;
}
